# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=98a243cb55692f3f840fa7645c00f8bebb9df6f8f88f33e8f15e738ac7a65d407ca538c609e7dee354ca04943f7821e0656da159ce5c91c5c02625b63abf378b
REDIS_URL=redis://localhost:6379/12
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
